{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body {
            background-color: #dbd8d9;
        }
    </style>

    <!-- Display below navbar if logged in user is a teacher -->
    <nav id="navbarColor" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a style="float: right;" class="navbar-brand" href="{{ url_for('teachers.profile') }}">
                    NewNotes
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('forums.questions') }}">
                            <span class="glyphicon glyphicon-comment"></span>
                        </a>
                    </li>

                    <li><a data-toggle="tooltip" title="View all files"
                           href="{{ url_for('files.file_list') }}"><span
                            class="glyphicon glyphicon-file"></span></a></li>
                    <li><a data-toggle="tooltip" title="View students"
                           href="{{ url_for('students.student_list') }}"><span
                            class="glyphicon glyphicon-list" data-toggle="tooltip"
                            data-original-title="Users"></span></a></li>

                    <li id="dropdown1" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle"
                           href="#">{{ user.name }} {{ user.surname }} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('profile_edit') }}"><i class="glyphicon glyphicon-cog"></i> Edit
                                Profile</a></li>
                            <li><a href="{{ url_for('files.upload') }}"><i class="glyphicon glyphicon-upload"></i>
                                Upload Files</a>
                            </li>
                            <li><a href="{{ url_for('assignments.assignment_list') }}"><i
                                    class="glyphicon glyphicon-list"></i> Assignments</a>
                            </li>
                            <li><a href="{{ url_for('files.file_list') }}"><i class="glyphicon glyphicon-file"></i>
                                Files</a></li>
                            <li><a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-log-out"></i> Log
                                out</a></li>
                        </ul>
                    </li>

                    <li><a data-toggle="tooltip" title="Log out" href="{{ url_for('logout') }}"><i
                            class="glyphicon glyphicon-log-out"></i></a></li>
                </ul>

                <div class="col-sm-3 col-md-3" style="float: right;">
                    <form class="navbar-form" role="form" method='post' action="{{ url_for('files.search') }}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" id="searchBar"
                                   placeholder="Search Files">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i
                                        class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>


    <!-- Display files related to lesson-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="background-color: #D8BFD8;padding: 10px;border-radius: 5px">
                    <a href="{{ url_for('assignments.assignment_list') }}">
                        <span><i class="fa fa-long-arrow-left" aria-hidden="true" style="font-size: 18px;"></i></span>
                        <span style="margin-left: 5px">Back to assignments</span>
                    </a>
                </div>
                {#Display the Assignment Details here#}
                <div class="jumbotron">
                    <h3 class="text-center">Assignment Details</h3>
                    {# Assignment Title #}
                    <div class="row">
                        <div class="col-lg-3"><strong>Title</strong></div>
                        <div class="col-lg-6">{{ assignment.title }}</div>
                    </div>
                    <hr>
                    {# Assignment Description #}
                    <div class="row">
                        <div class="col-lg-3"><strong>Description</strong></div>
                        <div class="col-lg-6">{{ assignment.description | safe }}</div>
                    </div>
                    <hr>
                    {# Assignment Creator #}
                    <div class="row">
                        <div class="col-lg-3"><strong>Created By</strong></div>
                        <div class="col-lg-6">{{ assignment.created_by.name }}</div>
                    </div>
                    <hr>
                    {# Assignment Submission Date #}
                    <div class="row">
                        <div class="col-lg-3"><strong>Submission Date</strong></div>
                        <div class="col-lg-6">{{ assignment.submission_date.strftime('%Y-%m-%d') }} </div>
                    </div>
                    {# Assignment Status #}
                    <hr>
                    <div class="row">
                        <div class="col-lg-3"><strong>Status</strong></div>
                        <div class="col-lg-6">
                            {% if assignment.status %}
                                Open
                            {% else %}
                                Close
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        {% if assignment.status %}
                            {#Button for close this assignment#}
                            <a href="{{ url_for('assignments.close_assignment',assignment_id=assignment.id) }}"
                               class="btn btn-danger">Close Assignment</a>
                        {% else %}
                            {#Button for open this assignment#}
                            <a href="{{ url_for('assignments.open_assignment',assignment_id=assignment.id) }}"
                               class="btn btn-primary">Open Assignment</a>
                        {% endif %}
                    </div>
                </div>
                <div class="jumbotron">
                    <h3 class="text-center">Assignment Documents</h3>
                    {# Display the Assignment Document #}
                    <table id="mytab1" class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>File Name</th>
                            <th class="text-center">Submitted By</th>
                            <th style="text-align: right">Submission Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if assignment %}
                            {% for document in assignment.documents %}
                                {#Check the loop by index#}
                                {% if loop.index % 2 == 0 %}
                                    <tr style="background-color: rgb(213,206,218)">
                                        <td style="vertical-align: middle"><a
                                                href="{{ url_for('assignments.download',file_name=document.filename) }}">{{ document.filename }}</a>
                                        </td>
                                        <td align="center" style="vertical-align: middle">
                                            <p>{{ document.submitted_by.name }}</p>
                                        </td>
                                        <td align="right">{{ document.submitted_date.strftime('%Y-%m-%d') }}</td>
                                    </tr>
                                {% else %}
                                    <tr style="background-color: rgb(245,240,240)">
                                        <td style="vertical-align: middle">
                                            <a href="{{ url_for('assignments.download',file_name=document.filename) }}">{{ document.filename }}</a>
                                        </td>
                                        <td align="center" style="vertical-align: middle">
                                            <p>{{ document.submitted_by.name }}</p>
                                        </td>
                                        <td align="right">{{ document.submitted_date.strftime('%Y-%m-%d') }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div id="pagination"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}